<%= form_for @order, :html => { :class => "form-horizontal order" } do |f| %>

  <% if @order.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :status_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status_id) %>
  </div>
  <div class="form-group">
    <%= f.label :customer, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :customer, :class => 'form-control' %>
    </div>
    <%=f.error_span(:customer) %>
  </div>
  <div class="form-group">
    <%= f.label :priority, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :priority, :class => 'form-control' %>
    </div>
    <%=f.error_span(:priority) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
