<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="col-md-8">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:customer) %></th>
      <th><%= model_class.human_attribute_name(:priority) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th style="width:10%;"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.title, order_path(order) %></td>
        <td><%= truncate(order.description, length: 17)  %></td>
        <td><%= order.customer %></td>
        <td><%= order.priority %></td>
        <td ><%= order.created_at.strftime("%d/%m/%Y") %></td>
        <td style="width:20%;">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_path(order), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_path(order),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Search</div>
    <div class="panel-body">
         <%= ransack_simple_form_for @q , :html => { :class => 'form-vertical ' } do |f| %>
           <%#= f.input  :user_id_eq ,:collection => User.all, :label_method => :email, :value_method => :id, :label => "Оператор" ,:include_blank => true %>
           <%= f.input  :title_cont ,  :label => "Title:" ,:include_blank => true %>
           <%= f.input  :description_cont ,  :label => "Description:" ,:include_blank => true %>
           <%= f.input  :customer_cont ,  :label => "Customer name:" ,:include_blank => true %>
           <%#= f.input  :status_eq ,  :label => "Status" ,:include_blank => true %>
           <h5><strong class="text-info">Orders created at:</strong></h5> 
            <%= f.input  :created_at_gteq, as: :date,  :label => "start:" ,:include_blank => true, class: 'form-control  '%>
            <%= f.input :created_at_lteq,  as: :date,   :label => "end:" ,:include_blank => true, class: 'form-contol'  %>
            <br/>

        <%= f.button :submit, "Поиск", :class => 'btn-primary btn-block' %>
      <% end %>
   
    
    </div>
    </div>
    </div>

</div>
